<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urway.paymentlib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"

        >

        <activity android:name="com.urway.paymentlib.Checkout"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>



        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>